.error-message{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    font-style: italic;
}

.mt20{
    margin-bottom: 20px;
    margin-top: 20px;
}

h5{
    text-transform: uppercase;
    font-weight: normal;
}

.image-cover img{
    width: 73px;
    height: auto;
    object-fit: cover;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > thead > tr > th,
.table > tfoot > tr > th {
    vertical-align: middle;
}

.uk-flex-space-between{
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.uk-flex-middle{
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.uk-flex{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.filter-wrapper .perpage{
    display: inline-block;
}

.btn{
    margin-bottom: 0 !important;
    border-radius: 0px;
}


.btn-search {
    padding: 7px;
}

.mr10{
    margin-right: 10px;
}
.input-group .form-control{
    width: 200px;
}

.filter-wrapper{
    margin-bottom: 20px;
}

.mr5{
    margin-right: 5px;
}